<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
Create Message:
<form action="/create-message" method="post">
    <input type="text" placeholder="Enter your message" size="50" name="message"/>
    <button type="submit">Submit</button>
</form>
<br>
Delete message:
<form action="/delete-message" method="post">
    <input type="number" placeholder="message number" size="5" name="delete"/>
    <button type="submit">Delete</button>
</form>
<br>
Edit message
<form action="/edit-message" method="post">
    <input type="number" placeholder="message number" size="5" name="editNumber"/>
    <input type=text" placeholder="Enter new message" size="50" name="editMessage"/>
    <button type="submit">Update</button>
</form>

</br>
Messages:
<ol>
    {{#messages}}
    <li>{{.}}</li>
    {{/messages}}
</ol>

<form action="/logout" method="post">
    <button type="submit">Log out</button>
</form>

</body>
</html>